[Desktop Entry]
Categories=System;TerminalEmulator;
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}} {{exec_arg}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
X-AppImage-Version=0.4.0
{{#if mime_type}}
MimeType={{mime_type}}
{{/if}}
